{% extends 'base.html.twig' %}

{% block title %}Edit Session{% endblock %}

{% block body %}
    <h1>Edit Session</h1>

    {{ include('symfony_console_make_crud_stagiaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_symfony_console_make_crud_stagiaire_index') }}">back to list</a>

    {{ include('symfony_console_make_crud_stagiaire/_delete_form.html.twig') }}
{% endblock %}
