{% extends 'base.html.twig' %}

{% block title %}Inscrire un stagiaire{% endblock %}

{% block body %}
    <h1>Inscrire un stagiaire à la session {{ session.id }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
