{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Session</h1>

        <div class="form-container">
            {{ include('session/_form.html.twig') }}
        </div>

        <a href="{{ path('app_session_index') }}" class="back-button">Back to list</a>
    </div>
{% endblock %}
